#header-nav {
  background: #010101;
}

#header-nav * {
  color: #f2f2f2;
}

#index-page {
  background-image: url("assets/CarouselBG.jpg");
  background-repeat: no-repeat;
  background-size: 130%;
}
